{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "vueIndentScriptAndStyle": false,
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css",
  "bracketSameLine": false,
  "overrides": [
    {
      "files": ["*.vue"],
      "options": {
        "parser": "vue",
        "singleAttributePerLine": true
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "trailingComma": "none"
      }
    },
    {
      "files": ["*.md", "*.yaml", "*.yml"],
      "options": {
        "tabWidth": 2,
        "singleQuote": false,
        "trailingComma": "none"
      }
    }
  ]
}
